### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import itertools as iter
import json
from json import dump

### Read In Master Word Dataframe

In [2]:
words_df = pd.read_csv('WordLists/letterase-my-word-list.txt', sep="\t")[['Word']]

### Corner 1

In [3]:

### CORNER 1: WORD (1) + WORD (2)

c1_df = pd.merge(words_df, words_df, how='cross').rename(columns = {"Word_x":"w1", "Word_y":"w2"})
filtered1_df = c1_df[(c1_df['w1'].str[0] == c1_df['w2'].str[0]) & (c1_df['w1'].str[1] == c1_df['w2'].str[1]) & (c1_df['w1'] != c1_df['w2'])]

### Corner 2

In [4]:

### CORNER 2: WORD (1) + WORD (3)

c2_df = pd.merge(words_df, words_df, how='cross').rename(columns = {"Word_x":"w1", "Word_y":"w3"})
filtered2_df = c2_df[(c2_df['w1'].str[3] == c2_df['w3'].str[1]) & (c2_df['w1'].str[4] == c2_df['w3'].str[0]) & (c2_df['w1'] != c2_df['w3'])]

### Corner 3

In [5]:

### CORNER 3: WORD (2) + WORD (4)

c3_df = pd.merge(words_df, words_df, how='cross').rename(columns = {"Word_x":"w2", "Word_y":"w4"})
filtered3_df = c3_df[(c3_df['w2'].str[3] == c3_df['w4'].str[1]) & (c3_df['w2'].str[4] == c3_df['w4'].str[0]) & (c3_df['w2'] != c3_df['w4'])]

### Corner 4

In [6]:

### CORNER 4: WORD (3) + WORD (4)

c4_df = pd.merge(words_df, words_df, how='cross').rename(columns = {"Word_x":"w3", "Word_y":"w4"})
filtered4_df = c4_df[(c4_df['w3'].str[3] == c4_df['w4'].str[3]) & (c4_df['w3'].str[4] == c4_df['w4'].str[4]) & (c4_df['w3'] != c4_df['w4'])]

### Merge 1

In [7]:

m1_df = pd.merge(filtered1_df, filtered2_df, on='w1', how='inner')

# REMOVE ROWS WITH DUPLICATES

m1_final_df = m1_df[~m1_df.apply(lambda x: x.duplicated().any(), axis=1)]

### Merge 2

In [8]:

m2_df = pd.merge(filtered3_df, filtered4_df, on='w4', how='inner')

# REMOVE ROWS WITH DUPLICATES

m2_final_df = m2_df[~m2_df.apply(lambda x: x.duplicated().any(), axis=1)]

### Merge 3

In [12]:
m3_df = pd.merge(m1_final_df, m2_final_df, on=['w2','w3'], how='inner')

# REMOVE ROWS WITH DUPLICATES

m3_final_df = m3_df[~m3_df.apply(lambda x: x.duplicated().any(), axis=1)]

final_df = m3_final_df.sample(frac=0.1).reset_index(drop=True)

### View Solution List

In [13]:
final_df

          w1     w2     w3     w4
0      roles  robes  seeds  sends
1      flops  floor  spits  roots
2      sheep  shuts  peter  steer
3      devil  debar  likes  rages
4      idler  idiot  regal  total
...      ...    ...    ...    ...
17564  casts  camps  stuck  speck
17565  spins  spits  snuck  stick
17566  vixen  vital  newer  later
17567  poker  posts  resin  stain
17568  fires  fight  sense  those

[17569 rows x 4 columns]

### Export Solutions

In [ ]:
# EXPORT SOLUTIONS

result = final_df.to_json(orient="index")
output_data = 'cornerase_data.json'

with open(output_data, 'w') as f:
    dump(result, f)

### Export Word List

In [ ]:
words = pd.read_csv("WordLists/letterase-my-word-list.txt", sep="\t")['Word'].tolist()
words_upper = [s.upper() for s in words]
json_string = json.dumps(words_upper)

with open("double_word_list.json", "w") as f:
    json.dump(words_upper, f)