### Import Libraries

In [1]:
import pandas as pd

### Read Text Files & Create Master Word Dataframe

In [5]:

# x is excluded because there are no common 5 letter words starting with x
letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','y','z']

word_list_final = pd.Series([], dtype='object')

for letter in letters:
    word_list_path = "WordLists/" + letter + "-word-list.txt"
    word_list_x = pd.read_csv(word_list_path, sep="\t", header=None)[0]
    word_list_final = pd.concat([word_list_final, word_list_x], ignore_index=True)
    
start1 = [x[:1] for x in word_list_final]
end1 = [x[-1:] for x in word_list_final]
start2 = [x[:2] for x in word_list_final]
end2 = [x[-2:] for x in word_list_final]

words_df = pd.DataFrame({'Word': word_list_final, 'Start1': start1, 'End1': end1, 'Start2': start2, 'End2': end2})

### Check That All Words Are 5 Letters

In [ ]:
mask = words_df['Word'].str.len() == 5
words_df[~mask] # should be empty

### Export Master Word Dataframe

In [12]:
words_df.to_csv('letterase-my-word-list.txt', sep='\t', index=False)

### Read In Master Word Dataframe

In [ ]:
readin_df = pd.read_csv('letterase-my-word-list.txt', sep="\t")

       Word Start1 End1 Start2 End2
0     aback      a    k     ab   ck
1     abase      a    e     ab   se
2     abate      a    e     ab   te
3     abbey      a    y     ab   ey
4     abhor      a    r     ab   or
...     ...    ...  ...    ...  ...
2811  zebra      z    a     ze   ra
2812  zeros      z    s     ze   os
2813  zesty      z    y     ze   ty
2814  zoned      z    d     zo   ed
2815  zones      z    s     zo   es

[2816 rows x 5 columns]